<a href="https://colab.research.google.com/github/bhushanp9/Python_basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
if 5<2:
  print("Five is greater than two")
else:
  print("Five is not greater than two")

Five is not greater than two

#Variables

In [ ]:
# Variables
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

# Casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)

3

In [ ]:
print(type(x))

<class 'str'>

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

#Global keyword

#Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.To create a global variable inside a function, you can use the global keyword.

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>